.navbar-wrapper {
    background-color: black;
    text-align: center;
    padding: 10px;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
  
}

app-user {
    width: 30%;
    margin: 0 auto;
}